@model List<Tournaments.Models.Team>

<div class="tournament-details">
    <h1>@Model.FirstOrDefault()?.Tournament.TourName</h1>

    <h2>Teams participation in this tour</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Team Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model)
            {
                <tr>
                    <td>@team.TeamName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
